body{
  display:flex;
  overflow:hidden;
  height:100%;
  width:100%;
}
main, .section_1{
  width:450px;
  height:420px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30px, 30px));
  grid-template-rows: repeat(auto-fill, minmax(30px, 30px));  
  grid-gap: 0;
}
object{
  position:absolute;
  width: 450px;
  height: 420px;
  z-index:99;
  display:none;
}
.areas {
  width:30px;
  height:30px;
  background-color: black;
}
.joueur{
  width:20px;
  height:20px;
  border-radius: 50%;
  z-index: 9;
}
.tresor{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  z-index: -1;
}
.section_2 {
  width:300px;
  height:400px;
  
}

